* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
:root {
  --swiper-navigation-color: #e49a38;
}
h1 {
  font-family: "PT Serif", serif;
}
.cursor,
#social-section {
  position: fixed;
}
.cursor,
.client img,
.team-member img {
  border-radius: 50%;
}
.cursor {
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  transition: 0.1s;
}
#social-section,
#home-section,
#welcome-section,
#news-section,
#contact-section,
#testimonial-section,
footer,
.clients,
.team,
#photo-gallery,
.swiper-slide,
.contact-form form,
.team-member,
#team-section {
  display: flex;
}
#social-section,
#home-section,
#welcome-section,
#news-section,
#contact-section,
footer,
.clients,
.team {
  flex-direction: row;
}
#social-section,
#home-section,
#testimonial-section,
#team-section,
#contact-section,
footer,
.clients,
#news-section,
#photo-gallery,
.swiper-slide,
.team-member {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#social-section {
  height: 10vh;
  background-color: #fff;
  width: 100%;
}
#social-section a,
.team-social-icons a {
  color: black;
}
#social-section p,
#social-section i,
.home-info p,
.welcome-info p,
.newsletter h2,
.newsletter input,
.client h4,
.contact-form form input,
.team-member h4,
.team-member p,
.team-social-icons i,.contact-form form p {
  padding: 10px;
}
#social-section p,
#social-section i,
.home-info p,
.welcome-info p,
.latest-news p,.contact-form form p {
  font-weight: 400;
}
#social-section p,
#social-section i,.contact-form form p {
  font-size: 18px;
}
#social-section i,
.download-btns button,
.learn-more,
.subscribe,
.contact-form form button,
.team-social-icons i {
  cursor: pointer;
}
#social-section i:hover {
  color: #d7ae51;
}
#home-section,
#welcome-section .middle-line,
#news-section,
.clients .middle-line,
#contact-section,
.team-social-icons,
footer {
  background-color: #d7ae51;
}
#home-section {
  height: 90vh;
}
.intro-img {
  height: 85vh;
  width: 30vw;
  margin-left: -13%;
  margin-bottom: 6%;
}
.home-info {
  margin-left: 9%;
}
.home-info h1,
.welcome-info h1,
.latest-news h1,.contact-form form h1 {
  font-weight: 1000;
}
.home-info h1,
.welcome-info h1,
.latest-news h1,.contact-form form h1,.contact-form form p {
  padding-bottom: 10px;
}
.home-info h1,
.welcome-info h1 {
  font-size: 5rem;
}
.home-info p,
.welcome-info p,
.contact-form form label {
  font-size: 1.2rem;
}
.download-btns button,
.contact-form form button {
  margin: 10px 5px;
}
.download-btns button,
.learn-more,
.subscribe,
.contact-form form button {
  background-color: black;
  width: 140px;
}
.download-btns button,
.learn-more,
.subscribe,
.contact-form form button,
.team-social-icons i:hover {
  color: #fff;
}
.download-btns button,
.learn-more,
.subscribe,
.newsletter input,
.contact-form form input,
.contact-form form button {
  border-radius: 10px;
  font-size: 1rem;
  height: 40px;
}
.download-btns button,
.contact-form form button,
.learn-more,
.subscribe {
  z-index: 999;
}
#social-section {
  z-index: 999999999;
}
.download-btns button,
.contact-form form button,
.learn-more,
.subscribe,
.swiper-wrapper {
  position: relative;
}

#welcome-section img,
#contact-section img {
  height: 700px;
}
#welcome-section img,
#photo-gallery img {
  width: 700px;
}
#welcome-section img,
#welcome-section .middle-line {
  margin-right: 5%;
}
.welcome-info {
  margin: 5% 0% 5% 15%;
}
.welcome-info h1,
.newsletter,
.client,
.team-member p,
.team-social-icons,.contact-form form h1,.contact-form form p {
  text-align: center;
}
.welcome-info h1 {
  margin: 1% 0;
}
.welcome-info p {
  margin-right: 4%;
}
#welcome-section .middle-line,
.client,
.team-member {
  height: 400px;
}
#welcome-section .middle-line {
  width: 40px;
  margin-top: 6%;
}
.latest-news {
  margin: 5% 10% 5% -7%;
  width: 600px;
}
.latest-news h1,
#testimonial-section h1,
#photo-gallery h1,
#team-section h1,.contact-form form h1 {
  font-size: 3rem;
}
.latest-news p,
.client h4,
.team-member h4 {
  font-size: 1.1rem;
}
.learn-more,
.subscribe,
.newsletter input,
.contact-form form input {
  margin: 16px 0;
}
.newsletter h2,
#testimonial-section h1,
#photo-gallery h1,
#team-section h1 {
  font-weight: 800;
}
.newsletter h2 {
  font-size: 1.7rem;
}
.newsletter {
  margin-bottom: 4%;
}
.newsletter input,
.contact-form form input {
  width: 400px;
}
.newsletter input,
.newsletter input:focus,
.contact-form form input,
.contact-form form input:focus {
  outline: none;
  border: none;
}
#testimonial-section,
#photo-gallery,
.contact-form form,
.team-member,
#team-section {
  flex-direction: column;
}
#testimonial-section h1 {
  margin: 5% 0 1% 0;
}
.client {
  margin: 5% 20px;
  padding: 50px 10px;
}
.client,
.team-member,
.team-social-icons {
  width: 250px;
}
.client img {
  height: 90px;
  width: 90px;
  margin: 2%;
}
.clients .middle-line {
  height: 350px;
  width: 2px;
}
#photo-gallery img {
  height: 600px;
}
.swiper-wrapper {
  max-width: 1000px;
}
.swiper-wrapper,
.swiper-slide {
  margin: auto;
}
.swiper-pagination-bullet-active {
  background-color: #d7ae51 !important;
}
#photo-gallery h1 {
  margin: 5% 0;
}
#contact-section,
footer {
  margin-top: 5%;
}
#contact-section img {
  width: 500px;
  margin-left: -6%;
  margin-right: 11%;
  margin-bottom: 5%;
}
.team-member {
  margin: 0 60px;
  padding: 10px 10px 0 10px;
  border: 2px solid #eed08a;
}
.team-member img {
  height: 200px;
  width: 200px;
  border: 3px solid #d7ae51;
}
#team-section {
  margin-top: 3%;
}
#team-section h1 {
  margin: 3% 0;
}
footer {
  padding: 20px;
}
.contact-form form div{
  margin-bottom: 15%;
}
#contact-section{
  width: 60vw;
  margin-left: 20%;
  border-radius: 30px;
}
.team-social-icons{
  margin-left: -5%;
}
/*************MEDIA QUERIES****************/

/* Media query for large screen(1440px) laptop */
@media only screen and (max-width: 1440px) {
  #welcome-section img {
    margin-right: 2%;
  }
  #welcome-section .middle-line {
    height: 500px;
    margin-top: 7%;
    margin-right: 0%;
  }
  .latest-news {
    margin: 5% 10% 5% -2%;
  }
  #contact-section{
    flex-wrap: nowrap;
  }
  #contact-section img {
    margin-right: 0%;
  }
}
/* Media query for 1280px screen laptop */
@media only screen and (max-width: 1280px) {
  #welcome-section img {
    margin-right: 0%;
  }
  .welcome-info p {
    margin-right: 1%;
  }
  #welcome-section .middle-line {
    height: 550px;
    margin-right: -4%;
  }
  .latest-news {
    margin: 5% 10% 5% 2%;
  }  
  #contact-section{
    width: 80vw;
    margin-left: 10%;
  }
  #contact-section img {
    margin-left: -15%;
  }
}
/* Media query for 1024px screen laptop */
@media only screen and (max-width: 1024px) {
  #welcome-section img {
    margin-right: -3%;
    height: 600px;
    width: 600px;
    margin-top: 7%;
  }
  .welcome-info {
    margin: 5% 0% 5% 8%;
  }
  .welcome-info p {
    margin-right: 0%;
  }
  #welcome-section .middle-line {
    height: 550px;
    margin-top: 8%;
    margin-right: -7%;
  }
  .latest-news {
    margin: 5% 7% 5% 3%;
  }
  #contact-section img {
    height: 700px;
    margin-left: -13%;
    margin-right: 0%;
  }
  .team-member {
    margin: 0 40px;
  }
}
/* Media query for tablet screen */
@media only screen and (max-width: 912px) {
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }
  .cursor,
  #welcome-section .middle-line {
    display: none;
  }
  .intro-img {
    width: 40vw;
  }
  #welcome-section,
  #news-section {
    flex-direction: column;
  }
  #welcome-section img {
    height: 650px;
    width: 650px;
    margin-top: 0%;
    align-self: center;
  }
  .welcome-info {
    margin: 5% 0% 0% 0%;
  }
  .welcome-info,
  .latest-news {
    text-align: center;
  }
  #welcome-section img,
  .welcome-info p,
  #contact-section img {
    margin-right: 0%;
  }
  .swiper-wrapper {
    max-width: 700px;
  }
  .latest-news {
    margin: 5% 0% 5% 0%;
  }
  .client {
    margin: 5% 9px;
    padding: 50px 5px;
  }  
  #contact-section {
    margin-top: 8%;
    width: 100vw;
    margin-left: 0%;
    border-radius: 0;
  }
  .contact-form form input {
    width: 280px;
  }
  .team-member {
    margin: 0 14px;
  }
  .client,
  .team-member,
  .team-social-icons {
    width: 230px;
  }
}
/* Media query for large mobile screen */
@media only screen and (max-width: 425px) {
  .intro-img {
    height: 55vh;
    width: 90vw;
    margin-bottom: -9%;
  }
  .intro-img,
  .home-info {
    margin-left: 0;
  }
  .home-info,
  #testimonial-section h1 {
    text-align: center;
  }
  #welcome-section img {
    height: 450px;
    width: 420px;
  }
  .welcome-info p {
    margin-right: 0%;
    padding: 0 10px;
  }

  .swiper-wrapper {
    max-width: 400px;
  }
  .latest-news {
    margin: 8% 0% 5% 0%;
  }
  .latest-news p {
    padding: 0 110px;
  }
  .newsletter input,
  #contact-section img,
  .contact-form form input {
    width: 380px;
  }

  #testimonial-section h1 {
    margin: 9% 0 8% 0;
  }
  .clients .middle-line {
    height: 5px;
    width: 300px;
  }
  .client {
    margin: 2% 20px;
  }
  .client img {
    margin: 1%;
  }
  #photo-gallery h1,
  #team-section h1 {
    margin: 8% 0;
  }
  #photo-gallery img {
    width: 400px;
    height: 500px;
  }
  #contact-section {
    margin-top: 18%;
  }
  #contact-section img {
    align-self: center;
    margin: -18% 0 0% 0;
    height: 420px;
  }
  .contact-form form button {
    margin-bottom: 9%;
  }
  #contact-section,
  .team {
    flex-direction: column;
  }
  .team-member {
    margin: 10px 14px;
  }
  .team-member,
  .team-social-icons {
    width: 280px;
  }
}
/* Media query for medium mobile screen */
@media only screen and (max-width: 375px) {
  #social-section {
    height: 16vh;
  }
  .latest-news p {
    padding: 0 130px;
  }
  .newsletter input,
  #photo-gallery img,
  .contact-form form input {
    width: 350px;
  }
  .swiper-wrapper {
    max-width: 360px;
  }
  #photo-gallery img {
    height: 400px;
  }
}
/* Media query for small mobile screen */
@media only screen and (max-width: 320px) {
  #welcome-section img {
    height: 400px;
    width: 310px;
  }
  .welcome-info {
    margin: 5% 0% 5% 0%;
    text-align: center;
  }
  .latest-news p {
    padding: 0 150px;
  }
  .newsletter input,
  #photo-gallery img,
  .contact-form form input {
    width: 300px;
  }
  .swiper-wrapper {
    max-width: 310px;
  }
  #photo-gallery img {
    height: 380px;
  }
}
